Repository kajikentaro/manaba-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,scss,md,pug}": "prettier --check --loglevel=warn",
  "*.{js,ts}": "eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore",
  "*.{css,scss}": "stylelint --allow-empty-input"
}

.lintstagedrc.json:

{
  "*.{ts,js,html,json}": ["prettier --write"],
  "*.{ts,js,html}": ["eslint --fix"]
}

fix: bunkyo-u.json
  hosts/bunkyo-u.json
Due: prettier --write

fix: bunkyo-u
  host-list.md
Due: prettier --check --loglevel=warn

fix: "Many schools" -> "many schools"
  README.md
Due: prettier --check --loglevel=warn

add: a feature of course icons
  README.ja.md
  README.md
Due: prettier --check --loglevel=warn

add: feature page with images
  .gitignore
  README.ja.md
  README.md
  docs/feature/img/DnD.jpg
  docs/feature/img/SSO.gif
  docs/feature/img/assignment-list.gif
  docs/feature/img/download.gif
  docs/feature/img/external-link.gif
  docs/feature/img/hide-or-move.png
  docs/feature/img/popup.gif
  docs/feature/img/remove-courses.png
  docs/feature/img/star.gif
  docs/feature/index.md
  public/common/docs/development/index.md
  public/common/docs/feature/img/DnD.jpg
  public/common/docs/feature/img/SSO.gif
  public/common/docs/feature/img/assignment-list.gif
  public/common/docs/feature/img/download.gif
  public/common/docs/feature/img/external-link.gif
  public/common/docs/feature/img/hide-or-move.png
  public/common/docs/feature/img/popup.gif
  public/common/docs/feature/img/remove-courses.png
  public/common/docs/feature/img/star.gif
  public/common/docs/feature/index.md
  src/main-panel/dummies.json
Due: prettier --check --loglevel=warn, prettier --write

fix: links
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  public/common/docs/feature/index.md
Due: prettier --check --loglevel=warn

fix: links
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --check --loglevel=warn

fix: links
  docs/feature/index.md
Due: prettier --check --loglevel=warn

upd: to show button only when allowed
  src/bad-status/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

upd: not to show duplicated messages
  src/utils/messages.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

fix: "ホームパネル" -> "メインパネル"
  src/options/model.json
Due: prettier --write

fix: #4
  src/home/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

fix: #7
  src/home/arrange.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/move.ts
  src/home/replace.ts
  src/home/style.scss
  src/options/model.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

fix: #5
  src/main-panel/event.ts
  src/main-panel/insert.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

2.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

upd: #8
  src/manifest.json
  src/syllabus/index.ts
  src/syllabus/insert.ts
  src/syllabus/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

add: self-registration feature
  README.ja.md
  README.md
  docs/feature/img/self-registration.gif
  docs/feature/index.md
  public/common/docs/feature/img/self-registration.gif
  public/common/docs/feature/index.md
Due: prettier --check --loglevel=warn

fix: links
  README.ja.md
  README.md
Due: prettier --check --loglevel=warn

add: env
  .gitignore
Due: none

add: dumpers
  README.ja.md
  README.md
  scripts/dump_imgs.py
  scripts/dump_store_info.py
Due: prettier --check --loglevel=warn

add: Edge links
  README.ja.md
  README.md
Due: prettier --check --loglevel=warn

fix: #9
  src/home/style.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

2.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

ref: options
  src/main-panel/insert.ts
  src/options/event.ts
  src/options/insert.ts
  src/options/model.json
  src/options/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

add: gapi
  package-lock.json
  package.json
  src/utils/.gitignore
  src/utils/gapi.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

ref: assignments
  src/main-panel/assignments.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

add: reminder google calendar
  public/common/docs/tips/reminders/google-calendar/img/calendar-setting.gif
  public/common/docs/tips/reminders/google-calendar/index.md
  src/constants.json
  src/docs/reminders/google-calendar/calendar.ts
  src/docs/reminders/google-calendar/event.ts
  src/docs/reminders/google-calendar/index.pug
  src/docs/reminders/google-calendar/index.ts
  src/docs/reminders/google-calendar/init.ts
  src/docs/reminders/google-calendar/message.ts
  src/docs/reminders/google-calendar/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

add: versioning note
  public/common/docs/development/index.md
Due: prettier --check --loglevel=warn

fix: #10
  src/utils/messages.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

fix: #11
  package-lock.json
  package.json
  src/docs/reminders/google-calendar/event.ts
  src/main-panel/assignment.ts
  src/main-panel/insert.ts
  src/utils/messages.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

fix: link
  src/main-panel/module.pug
Due: prettier --check --loglevel=warn

2.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

add: docs
  docs/development/index.md
  docs/reminders/google-calendar/index.html
  docs/reminders/google-calendar/index.js
  docs/reminders/google-calendar/style.css
  docs/reminders/google-calendar/style.js
  docs/tips/reminders/google-calendar/img/calendar-setting.gif
  docs/tips/reminders/google-calendar/index.md
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

fix: lint-staged configs
  .lintstagedrc.js
  .lintstagedrc_
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

upd: to inject script into reminder page
  src/constants.json
  src/docs/reminders/google-calendar/calendar.ts
  src/docs/reminders/google-calendar/event.ts
  src/docs/reminders/google-calendar/index.pug
  src/docs/reminders/google-calendar/index.ts
  src/docs/reminders/google-calendar/init.ts
  src/docs/reminders/google-calendar/message.ts
  src/main-panel/assignment.ts
  src/main-panel/insert.ts
  src/manifest.json
  src/reminders/google-calendar.ts
  src/reminders/google-calendar/calendar.ts
  src/reminders/google-calendar/event.ts
  src/reminders/google-calendar/index.ts
  src/reminders/google-calendar/message.ts
  src/reminders/system-notification.ts
  src/utils/base64.ts
  src/utils/storage.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

2.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

upd: docs
  docs/reminders/google-calendar/index.html
  docs/reminders/google-calendar/index.js
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

fix: cannot access gapi
  src/docs/reminders/google-calendar/calendar.ts
  src/docs/reminders/google-calendar/event.ts
  src/docs/reminders/google-calendar/index.pug
  src/docs/reminders/google-calendar/index.ts
  src/docs/reminders/google-calendar/message.ts
  src/docs/reminders/google-calendar/style.scss
  src/reminders/google-calendar/event.ts
  src/reminders/google-calendar/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix
