Repository kajikentaro/manaba-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint --allow-empty-input, prettier --write, eslint --fix

temp: Mar 03, 2023 16:10
  package.json
Due: prettier --write

2.0.0
  package-lock.json
  package.json
Due: prettier --write

upd: to set version from package.json
  pre/hosts.js
  pre/manifest.js
  src/manifest.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: wait for 500ms
  src/bad-status/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

add: comment
  src/bad-status/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

feat: to show last download time
  src/contents/index.pug
  src/contents/index.ts
  src/notification/download.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

rem: cross-var
  package-lock.json
  package.json
Due: prettier --write

fix: zip name versioning
  config/webpack.prod.js
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

upd: MIT License -> Unlicense
  LICENSE
Due: none

add: guides
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  README.ja.md
  README.md
  description.txt
  docs/development/index.md
  public/common/docs/development/index.md
Due: prettier --check --loglevel=warn

add: comment
  scripts/sync.sh
Due: none

upd: align past log
  CHANGELOG.md
Due: prettier --check --loglevel=warn

upd: to format before stage CHANGELOG.md
  package.json
Due: prettier --write

2.0.0
  CHANGELOG.md
  package.json
Due: prettier --check --loglevel=warn, prettier --write

add: period
  README.md
Due: prettier --check --loglevel=warn

upd: CHANGELOG.md
  CHANGELOG.md
Due: prettier --check --loglevel=warn

fix: header level
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  README.ja.md
  README.md
Due: prettier --check --loglevel=warn

add: Browser support
  README.ja.md
  README.md
Due: prettier --check --loglevel=warn

fix: repository URL
  docs/development/index.md
  public/common/docs/development/index.md
Due: prettier --check --loglevel=warn

2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

fix: tips URL
  src/contents/index.pug
Due: prettier --check --loglevel=warn

add: prerelease
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --check --loglevel=warn

upd: timeout 500ms -> 1000ms
  src/bad-status/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

add: charset
  src/layout.pug
Due: prettier --check --loglevel=warn

add: download-limit note
  src/options/model.json
Due: prettier --write

2.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

add: charset
  docs/tips/download/index.html
  docs/tips/test/index.html
Due: prettier --write, eslint --fix

add: Firefox link
  README.ja.md
  README.md
Due: prettier --check --loglevel=warn

feat: to switch downloading assignments
  src/contents/model.json
  src/contents/model.ts
  src/contents/model.type.ts
  src/options/model.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

add: store-links.md
  store-links.md
Due: prettier --check --loglevel=warn

feat/upgrade stars
  src/contents/model.ts
  src/home/event.ts
  src/home/replace.ts
  src/home/style.scss
  src/options/event.ts
  src/options/model.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint --allow-empty-input, prettier --write, eslint --fix

2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

Create release_template.md
  .github/release_template.md
Due: prettier --check --loglevel=warn

upd: Edge link
  store-links.md
Due: prettier --check --loglevel=warn

fix: to ignore tags
  pre/hosts.js
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

add: tags dumper
  docs/development/index.md
  scripts/dump_tags.py
Due: prettier --check --loglevel=warn

upd: print as default
  scripts/dump_tags.py
Due: none

Path conditions:
  prettier --check --loglevel=warn: any of: *.{js,ts,scss,md,pug}
  eslint --max-warnings=0: any of: *.{js,ts}
  stylelint --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json}
  eslint --fix: any of: *.{ts,js,html}
