Repository kajikentaro/manaba-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,scss,md}": "prettier --check --loglevel=warn",
  "*.{js,ts}": "eslint --max-warnings=0",
  "*.{css,scss}": "stylelint"
}

.lintstagedrc.json:

{
  "*.{ts,js,html,json}": ["prettier --write"],
  "*.{ts,js,html}": ["eslint --fix"]
}

remove: star
  src/home/img/star.png
Due: none

add: to show messages
  public/common/home/index.html
  src/home/index.ts
  src/home/insert.ts
  src/messages.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: overwritten message storage
  src/messages.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: to adapt to registration-state
  src/home/replace.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

ref: Mar 6, 2023 01:35
  public/common/contents/index.html
  public/common/manifest.json
  src/contents/download.ts
  src/contents/event.ts
  src/contents/insert.ts
  src/contents/scrape.json
  src/contents/scrape.ts
  src/contents/scrape.type.ts
  src/grade/index.ts
  src/grade/insert.ts
  src/grade/style.scss
  src/lib/editDistanceONP.ts
  src/report/index.ts
  src/report/insert.ts
  src/report/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

update: to show contents in tree
  public/common/contents/index.html
  src/contents/content.type.ts
  src/contents/download.ts
  src/contents/errors.json
  src/contents/event.ts
  src/contents/insert.ts
  src/contents/scrape.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

update: ul => details
  public/common/contents/index.html
  src/contents/event.ts
  src/contents/insert.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

update: tint
  public/common/contents/index.html
  src/contents/errors.json
Due: prettier --write, eslint --fix

fix: make target _blank
  src/contents/insert.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: home match pattern
  public/common/manifest.json
  src/home/replace.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: add home_course
  public/common/manifest.json
Due: prettier --write

add: common arrange
  src/common/arrange.ts
  src/common/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

add: comment
  src/contents/insert.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: first-child => first-of-type
  src/contents/scrape.json
Due: prettier --write

update: to replace year and remarks
  src/home/arrange.ts
  src/home/replace.ts
  src/home/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

fix: matching url
  public/common/manifest.json
Due: prettier --write

update: to replace with content-body
  src/home/arrange.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/insert.ts
  src/home/move.ts
  src/home/replace.ts
  src/home/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

fix: manaba spelling
  public/common/manifest.json
Due: prettier --write

fix: imselectable => unselectable
  public/common/home/index.html
  src/base.scss
Due: prettier --check --loglevel=warn, stylelint, prettier --write, eslint --fix

fix: style path
  public/common/options/index.html
Due: prettier --write, eslint --fix

remove: hide.ts
  src/hide.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

update: compare exactly
  src/consts.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

update: to return options, sections and items
  src/common/hide.ts
  src/common/index.ts
  src/common/replace.ts
  src/contents/download.ts
  src/grade/index.ts
  src/home/event.ts
  src/home/index.ts
  src/report/index.ts
  src/sso/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

add: to hide or move banner
  src/home/arrange.ts
  src/home/hide.ts
  src/home/move.ts
  src/home/replace.ts
  src/home/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

update: set constraint
  src/options/event.ts
  src/options/insert.ts
  src/options/models.json
  src/options/models.ts
  src/options/models.type.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

update: to arrange with css
  src/common/arrange.ts
  src/common/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

update: to arrange home course elements
  src/base.scss
  src/home/arrange.ts
  src/home/event.ts
  src/home/hide.ts
  src/home/insert.ts
  src/home/move.ts
  src/home/replace.ts
  src/home/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

fix: notes visibility
  src/common/hide.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: layout
  src/common/style.scss
  src/home/replace.ts
  src/home/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

fix: layout
  src/home/style.scss
Due: prettier --check --loglevel=warn, stylelint

update: version
  public/common/manifest.json
Due: prettier --write

add: hosts
  hosts/chuo-u.json
Due: prettier --write

add: course remove
  public/common/home/index.html
  src/extension/element.ts
  src/extension/htmlElement.ts
  src/home/arrange.ts
  src/home/course.ts
  src/home/event.ts
  src/home/index.ts
  src/home/insert.ts
  src/home/move.ts
  src/home/remove.ts
  src/home/replace.ts
  src/home/style.scss
  src/img/icon-remove.png
  src/options/insert.ts
  src/options/models.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

add: removes in .assignment and .course
  public/common/home/index.html
  public/common/home/module.html
  public/common/main-panel/index.html
  public/common/main-panel/module.html
  public/common/manifest.json
  src/_b.scss
  src/_base.sass
  src/bad-status/index.ts
  src/bad-status/style.scss
  src/contents/index.ts
  src/home/event.ts
  src/home/index.ts
  src/home/insert.ts
  src/home/remove.ts
  src/home/replace.ts
  src/home/style.scss
  src/insert-module.ts
  src/main-panel/_module.sass
  src/main-panel/assignment.ts
  src/main-panel/event.ts
  src/main-panel/get-hash.ts
  src/main-panel/index.ts
  src/main-panel/insert.ts
  src/main-panel/module.ts
  src/main-panel/remove.ts
  src/main-panel/revert.ts
  src/main-panel/scrape.ts
  src/main-panel/style.scss
  src/options/index.ts
  src/options/models.json
  src/popup/index.ts
  src/popup/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

remove: sass
  public/common/contents/index.html
  src/_base.sass
  src/_base.scss
  src/contents/style.scss
  src/img/icon-reference.png
  src/main-panel/_module.sass
  src/main-panel/_module.scss
  src/main-panel/insert.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

update: to select contents to be downloaded
  public/common/contents/index.html
  src/_base.scss
  src/bad-status/index.ts
  src/common/hide.ts
  src/common/index.ts
  src/common/replace.ts
  src/contents/download.ts
  src/contents/event.ts
  src/contents/insert.ts
  src/contents/scrape.json
  src/contents/scrape.ts
  src/contents/scrape.type.ts
  src/contents/style.scss
  src/grade/index.ts
  src/home/arrange.ts
  src/home/event.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/move.ts
  src/main-panel/event.ts
  src/main-panel/insert.ts
  src/options/event.ts
  src/options/index.ts
  src/options/insert.ts
  src/options/model.json
  src/options/model.ts
  src/options/model.type.ts
  src/report/index.ts
  src/time.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

fix: not to show negative remaining time
  src/main-panel/_module.scss
  src/main-panel/event.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

add: revert options
  src/options/event.ts
  src/options/insert.ts
  src/options/model.json
  src/options/model.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: into kebab-case
  src/grade/insert.ts
  src/lib/edit-distance-onp.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

move: utils
  src/bad-status/index.ts
  src/contents/event.ts
  src/contents/scrape.ts
  src/grade/insert.ts
  src/home/index.ts
  src/home/insert.ts
  src/home/replace.ts
  src/main-panel/assignment.ts
  src/main-panel/event.ts
  src/main-panel/get-hash.ts
  src/main-panel/index.ts
  src/main-panel/insert.ts
  src/main-panel/scrape.ts
  src/messages.json
  src/options/event.ts
  src/options/insert.ts
  src/utils/bind-value.ts
  src/utils/fetch.ts
  src/utils/hash.ts
  src/utils/insert-module.ts
  src/utils/messages.ts
  src/utils/time.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix
