Repository kajikentaro/manaba-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,scss,md,pug}": "prettier --check --loglevel=warn",
  "*.{js,ts}": "eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore",
  "*.{css,scss}": "stylelint --allow-empty-input"
}

.lintstagedrc.json:

{
  "*.{ts,js,html,json}": ["prettier --write"],
  "*.{ts,js,html}": ["eslint --fix"]
}

2.4.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

upd: docs
  docs/reminders/google-calendar/index.html
  docs/reminders/google-calendar/index.js
  docs/reminders/google-calendar/style.css
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

fix: link
  src/docs/reminders/google-calendar/index.pug
Due: prettier --check --loglevel=warn

fix: cannot access property
  src/docs/reminders/google-calendar/event.ts
  src/reminders/google-calendar/assignments.ts
  src/reminders/google-calendar/event.ts
  src/reminders/google-calendar/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

upd: docs
  docs/reminders/google-calendar/index.html
  docs/reminders/google-calendar/index.js
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

fix: to record registered assignments
  src/docs/reminders/google-calendar/event.ts
  src/reminders/google-calendar/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

add: privacy-policy
  public/common/docs/privacy-policy/index.md
Due: prettier --check --loglevel=warn

2.4.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

upd: docs
  docs/privacy-policy/index.md
  docs/reminders/google-calendar/index.js
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

add: google domain validation file
  docs/googleccf8c698b6494391.html
Due: prettier --write, eslint --fix

Delete googleccf8c698b6494391.html
  docs/googleccf8c698b6494391.html
Due: prettier --write, eslint --fix

2.4.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

fix: #13
  src/home/replace.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

2.4.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

fix: #14
  src/home/replace.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

2.4.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

add: template of gapi.json
  src/utils/gapi.template.json
Due: prettier --write

fix: #15
  src/home/replace.ts
  src/home/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

2.4.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

fix: for formatter
  scripts/dump_store_info.py
Due: none

add: tag
  hosts/otaru-uc.json
Due: prettier --write

add: to move or hide survey
  src/home/arrange.ts
  src/home/hide.ts
  src/home/move.ts
  src/options/model.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

2.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

upd: README
  README.ja.md
  README.md
Due: prettier --check --loglevel=warn

add: homepages
  docs/home/index.md
  docs/index.md
  public/common/docs/home/index.md
  public/common/docs/index.md
Due: prettier --check --loglevel=warn

upd: host-list path
  README.ja.md
  README.md
  docs/host-list/index.md
  pre/hosts.js
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

add: docs/icon
  public/common/docs/img/icon-mp-128.png
Due: none

fix: host-list link
  public/common/docs/feature/index.md
Due: prettier --check --loglevel=warn

fix: mkdir error
  pre/hosts.js
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

upd: docs
  docs/feature/index.md
  docs/img/icon-mp-128.png
Due: prettier --check --loglevel=warn

revert: nothing
  src/main-panel/_module.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

fix: #17
  src/bad-status/index.ts
  src/options/model.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

2.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

update manaba-url for kait
  docs/host-list/index.md
  hosts/kait.json
Due: prettier --check --loglevel=warn, prettier --write

fix: #19
  src/home/replace.ts
  src/home/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

2.5.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

temp:: Apr 12, 2023 14:45
  src/attachment/index.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

add: Tsukuba tag
  hosts/tsukuba.json
Due: prettier --write

Update bunkyo-u.json
  hosts/bunkyo-u.json
Due: prettier --write

fix: tag
  hosts/bunkyo-u.json
Due: prettier --write
