Repository kajikentaro/manaba-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

add: version notification
  src/main-panel/module.ts
  src/notification/push-notifications.ts
  src/notification/version.ts
  src/utils/messages.json
  src/utils/messages.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: to get number from input element
  src/options/event.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

add: download notification
  public/common/contents/index.html
  src/bad-status/index.ts
  src/contents/event.ts
  src/main-panel/_module.scss
  src/main-panel/event.ts
  src/main-panel/insert.ts
  src/notification/download.ts
  src/notification/push-notifications.ts
  src/options/model.json
  src/utils/messages.json
  src/utils/time.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

move: course visibility checkbox
  src/home/arrange.ts
  src/home/hide.ts
  src/home/insert.ts
  src/home/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

add: .period arrangement
  src/home/arrange.ts
  src/home/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

update: to adjust to Firefox
  public/common/manifest.json
Due: prettier --write

fix: scraping filter
  src/contents/event.ts
  src/contents/scrape.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

refactor: contents model
  src/contents/model.json
  src/contents/model.ts
  src/contents/model.type.ts
  src/contents/scrape.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

add: reminders file only
  src/reminders/google-calendar.ts
  src/reminders/system-notification.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

update: to get manaba url dynamically
  src/bad-status/index.ts
  src/constants.json
  src/constants.ts
  src/consts.json
  src/contents/scrape.ts
  src/home/index.ts
  src/main-panel/scrape.ts
  src/options/model.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: to refresh main-panel assignment
  src/main-panel/event.ts
  src/main-panel/insert.ts
  src/main-panel/module.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

update: build path
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  config/paths.js
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  package-lock.json
  package.json
  src/main-panel/insert.ts
  src/manifest.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

update: to combine hosts
  .gitignore
  config/manifest.js
  config/webpack.common.js
  hosts/chuo-u.json
  hosts/dummy.json
  package-lock.json
  package.json
  src/main-panel/dummies.json
  src/manifest.json
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: config path
  package.json
Due: prettier --write

update: button style
  public/common/main-panel/module.html
  public/common/options/index.html
  src/_base.scss
  src/attachment/style.scss
  src/bad-status/style.scss
  src/common/style.scss
  src/home/style.scss
  src/main-panel/_module.scss
  src/options/insert.ts
  src/options/model.json
  src/options/style.scss
  src/report/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

add: download tips
  public/common/contents/index.html
  public/common/img/contents/image-chrome.png
  public/common/img/contents/image-edge.png
  public/common/img/tips/download/image-Chrome.png
  public/common/img/tips/download/image-Edge.png
  public/common/img/tips/download/image-Firefox.png
  public/common/main-panel/index.html
  public/common/main-panel/module.html
  public/common/options/index.html
  public/common/tips/download/index.html
  src/_b.scss
  src/_base.scss
  src/main-panel/_module.scss
  src/tips/download/style.scss
Due: prettier --check --loglevel=warn, stylelint, prettier --write, eslint --fix

update: not to use innerText and innerHTML
  src/common/replace.ts
  src/contents/insert.ts
  src/contents/scrape.ts
  src/grade/insert.ts
  src/home/replace.ts
  src/main-panel/dummies.json
  src/main-panel/get-hash.ts
  src/main-panel/insert.ts
  src/main-panel/scrape.ts
  src/options/insert.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

update: make input bigger
  src/options/style.scss
Due: prettier --check --loglevel=warn, stylelint

add: calendar link
  public/common/main-panel/module.html
  src/main-panel/_module.scss
Due: prettier --check --loglevel=warn, stylelint, prettier --write, eslint --fix

fix: not to use insertAdjacentHTML
  src/home/insert.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

fix: img src
  README.md
Due: prettier --check --loglevel=warn

add: pug
  config/webpack.common.js
  package-lock.json
  package.json
  public/common/tips/download/index.html
  public/docs/img/tips/download/image-Chrome.png
  public/docs/img/tips/download/image-Edge.png
  public/docs/img/tips/download/image-Firefox.png
  src/docs/tips/download/index.pug
  src/docs/tips/download/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

add: docs
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

add: docs
  config/webpack.prod.js
  package.json
  scripts/sync.sh
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, prettier --write, eslint --fix

add: --allow-empty-input
  .lintstagedrc
Due: none

add: docs
  docs/tips/download/index.html
  docs/tips/download/style.css
Due: stylelint, prettier --write, eslint --fix

format
  hosts/n-gaku-social-worker.json
Due: prettier --write

ref: pugs
  .lintstagedrc
  package-lock.json
  package.json
  pre/hosts.js
  pre/manifest.js
  public/common/contents/index.html
  public/common/docs/tips/download/image-Chrome.png
  public/common/docs/tips/download/image-Edge.png
  public/common/docs/tips/download/image-Firefox.png
  public/common/home/module.html
  public/common/main-panel/index.html
  public/common/main-panel/module.html
  public/common/options/index.html
  src/contents/index.pug
  src/docs/tips/download/index.pug
  src/home/index.ts
  src/home/insert.ts
  src/home/module.pug
  src/includes.pug
  src/layout.pug
  src/main-panel/index.ts
  src/main-panel/module.pug
  src/main-panel/module.ts
  src/manifest.json
  src/options/index.pug
  src/popup/index.pug
  src/popup/index.ts
  src/popup/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

rem: includes.pug
  src/includes.pug
Due: none

upd: to put button in the center
  src/bad-status/index.ts
  src/bad-status/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

add: chuo-u bad-status pattern
  hosts/chuo-u.json
Due: prettier --write

add: --no-error-on-unmatched-pattern
  .lintstagedrc
Due: none

add: tips/test
  docs/tips/download/img/image-Chrome.png
  docs/tips/download/img/image-Edge.png
  docs/tips/download/img/image-Firefox.png
  docs/tips/download/index.html
  docs/tips/download/style.css
  docs/tips/download/style.js
  docs/tips/test/img/image-Chrome-1.png
  docs/tips/test/img/image-Chrome-2.png
  docs/tips/test/img/image-Edge-1.png
  docs/tips/test/img/image-Edge-2.png
  docs/tips/test/img/image-Edge-3.png
  docs/tips/test/img/image-Firefox-1.png
  docs/tips/test/img/image-Firefox-2.png
  docs/tips/test/img/image-Firefox-3.png
  docs/tips/test/index.html
  docs/tips/test/style.css
  docs/tips/test/style.js
  public/common/docs/tips/download/img/image-Chrome.png
  public/common/docs/tips/download/img/image-Edge.png
  public/common/docs/tips/download/img/image-Firefox.png
  public/common/docs/tips/test/img/image-Chrome-1.png
  public/common/docs/tips/test/img/image-Chrome-2.png
  public/common/docs/tips/test/img/image-Edge-1.png
  public/common/docs/tips/test/img/image-Edge-2.png
  public/common/docs/tips/test/img/image-Edge-3.png
  public/common/docs/tips/test/img/image-Firefox-1.png
  public/common/docs/tips/test/img/image-Firefox-2.png
  public/common/docs/tips/test/img/image-Firefox-3.png
  scripts/sync.sh
  src/_base.scss
  src/docs/tips/download/index.pug
  src/docs/tips/download/style.scss
  src/docs/tips/test/index.pug
  src/docs/tips/test/style.scss
  src/popup/index.pug
Due: prettier --check --loglevel=warn, eslint --max-warnings=0, stylelint, prettier --write, eslint --fix

add: --no-ignore
  .lintstagedrc
Due: none

temp: Mar 22, 2023 16:02
  .auto-changelog
  CHANGELOG.md
  description.txt
  package-lock.json
  package.json
  src/manifest.json
Due: prettier --check --loglevel=warn, prettier --write

temp: Mar 03, 2023 16:06
  package-lock.json
  package.json
Due: prettier --write

4.0.0
  package-lock.json
  package.json
Due: prettier --write

temp: Mar 03, 2023 16:07
  package.json
Due: prettier --write

4.0.0
  package.json
Due: prettier --write

Path conditions:
  prettier --check --loglevel=warn: any of: *.{js,ts,scss,md}
  eslint --max-warnings=0: any of: *.{js,ts}
  stylelint: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json}
  eslint --fix: any of: *.{ts,js,html}
