Repository kajikentaro/manaba-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

Create main.scss
  docs/assets/main.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

fix: h1 style
  docs/assets/main.scss
  public/common/docs/_sass/minima/custom-styles.scss
  public/common/docs/assets/main.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

fix: include img in post-content
  docs/assets/main.scss
  public/common/docs/assets/main.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

fix: selector
  docs/assets/main.scss
  public/common/docs/assets/main.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

fix: assignment list hint
  public/common/docs/feature/index.md
Due: prettier --check --loglevel=warn

add: manaba-download-router
  README.ja.md
  README.md
Due: prettier --check --loglevel=warn

add: github corner
  public/common/docs/development/index.md
Due: prettier --check --loglevel=warn

upd: not to use cp's -u option
  scripts/sync.sh
Due: none

upd: docs
  docs/development/index.md
  docs/feature/index.md
Due: prettier --check --loglevel=warn

fix: github corner
  public/common/docs/development/index.md
Due: prettier --check --loglevel=warn

fix: github corner
  docs/development/index.md
Due: prettier --check --loglevel=warn

fix: LaTex text style
  README.ja.md
Due: prettier --check --loglevel=warn

feat: highlight open period
  README.ja.md
  src/manifest.json
  src/options/model.json
  src/page/arrange.ts
  src/page/index.ts
  src/page/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

Path conditions:
  prettier --check --loglevel=warn: any of: *.{js,ts,scss,md,pug}
  eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore: any of: *.{js,ts}
  stylelint --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json}
  eslint --fix: any of: *.{ts,js,html}
