Repository kajikentaro/manaba-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

fix: #20
  src/attachment/index.ts
  src/attachment/style.scss
  src/manifest.json
  src/report/event.ts
  src/report/index.ts
  src/report/insert.ts
  src/report/replace.ts
  src/report/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

2.5.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

ref: Apr 25, 2023 21:53
  src/home/arrange.ts
  src/home/style.scss
  src/main-panel/_module.scss
  src/report/event.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

fix: #21
  src/report/event.ts
  src/report/style.scss
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, stylelint --allow-empty-input, prettier --write, eslint --fix

2.5.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

add: tag
  hosts/dokkyo.json
Due: prettier --write

fix: replacement of self registration item
  src/home/replace.ts
Due: prettier --check --loglevel=warn, eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore, prettier --write, eslint --fix

2.5.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check --loglevel=warn, prettier --write

fix: style when not permitted changing
  src/home/style.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

upd; png -> gif
  docs/feature/img/DnD.jpg
  docs/feature/index.md
  public/common/docs/feature/img/DnD.gif
  public/common/docs/feature/img/DnD.jpg
  public/common/docs/feature/img/hide-or-move.gif
  public/common/docs/feature/img/hide-or-move.png
  public/common/docs/feature/img/remove-courses.gif
  public/common/docs/feature/img/remove-courses.png
  public/common/docs/feature/index.md
Due: prettier --check --loglevel=warn

upd: apply docs theme
  public/common/docs/_config.yml
Due: none

upd: docs
  docs/_config.yml
  docs/feature/img/DnD.gif
  docs/feature/img/hide-or-move.gif
  docs/feature/img/remove-courses.gif
Due: none

Create style.scss
  docs/assets/css/style.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Create custom-styles.scss
  docs/_sass/minima/custom-styles.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Delete docs/assets directory
  docs/assets/css/style.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Delete docs/_sass directory
  docs/_sass/minima/custom-styles.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

add: header pages
  docs/_config.yml
Due: none

add: sass property
  docs/_config.yml
Due: none

fix: header pages
  docs/_config.yml
Due: none

Update _config.yml
  docs/_config.yml
Due: none

rem: sass property
  docs/_config.yml
Due: none

Create custom-head.html
  docs/_includes /custom-head.html
Due: prettier --write, eslint --fix

Create main.scss
  docs/assets /main.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Update main.scss
  docs/assets /main.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Update custom-head.html
  docs/_includes /custom-head.html
Due: prettier --write, eslint --fix

Create style.scss
  docs/assets/css /style.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Update style.scss
  docs/assets/css /style.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Create github.css
  .github/github.css
Due: stylelint --allow-empty-input

Delete docs/_includes directory
  docs/_includes /custom-head.html
Due: prettier --write, eslint --fix

Delete docs/assets directory
  docs/assets /main.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Delete docs/assets/css directory
  docs/assets/css /style.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Delete docs/_sass/minima directory
  docs/_sass/minima/custom-styles.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

add: custom-style
  docs/_sass/minima/custom-styles.scss
  public/common/docs/_config.yml
  public/common/docs/_sass/minima/custom-styles.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Delete github.css
  .github/github.css
Due: stylelint --allow-empty-input

Delete docs/assets/css directory
  docs/assets/css/style.scss
Due: prettier --check --loglevel=warn, stylelint --allow-empty-input

Path conditions:
  prettier --check --loglevel=warn: any of: *.{js,ts,scss,md,pug}
  eslint --max-warnings=0 --no-error-on-unmatched-pattern --no-ignore: any of: *.{js,ts}
  stylelint --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json}
  eslint --fix: any of: *.{ts,js,html}
