Repository kajikentaro/manaba-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js,html,json}": ["prettier --write"],
  "*.{ts,js,html}": ["eslint --fix"]
}

rename: rc files
  .eslintrc
  .lintstagedrc
  .prettierrc
Due: none

ref: 00:34 Deb 23, 2023
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  icon-mp.svg
  package.json
  public/common/contents/index.html
  public/common/home/index.html
  public/common/img/download/image-chrome.png
  public/common/img/download/image-edge.png
  public/common/manifest.json
  public/common/options/index.html
  public/dev/img/icon-mp-128.png
  public/dev/img/icon-mp-16.png
  public/dev/img/icon-mp-32.png
  public/dev/img/icon-mp-48.png
  public/prod/img/icon-mp-128.png
  public/prod/img/icon-mp-16.png
  public/prod/img/icon-mp-32.png
  public/prod/img/icon-mp-48.png
  src/attachment/index.ts
  src/contents/index.ts
  src/home/arrange.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/scrape.ts
  src/module/option.ts
  src/options.ts
  src/options/index.ts
  src/options/models.json
  src/options/models.ts
  src/popup/index.ts
  src/sso/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

add: ignore
  .eslintignore
  .prettierignore
Due: none

format
  .eslintrc
  .lintstagedrc
  .stylelintignore
  .stylelintrc
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  package-lock.json
  package.json
  src/home/arrange.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/scrape.ts
  src/module/option.ts
  src/options/index.ts
  src/options/models.json
  src/options/models.ts
  src/style.scss
  tsconfig.json
Due: prettier --write, eslint --fix

update: to create option elements
  public/common/options/index.html
  src/options/index.ts
  src/options/models.ts
Due: prettier --write, eslint --fix

update: to use single quote
  .prettierrc
  config/paths.js
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  src/attachment/index.ts
  src/contents/index.ts
  src/home/index.ts
  src/module/Assignment.ts
  src/module/AssignmentViewer.ts
  src/module/DownloadFile.ts
  src/module/FetchDocument.ts
  src/module/const.ts
  src/module/storage.ts
  src/module/type.ts
  src/options/index.ts
  src/options/models.ts
  src/sso/index.ts
Due: prettier --write, eslint --fix

add: button actions
  src/options/index.ts
  src/options/models.ts
Due: prettier --write, eslint --fix

add: message
  src/options/models.json
Due: prettier --write

remove: extra comments
  src/options/models.ts
Due: prettier --write, eslint --fix

update: to get URL query
  src/options/index.ts
Due: prettier --write, eslint --fix

add: consts
  src/consts.json
  src/consts.ts
  src/options/index.ts
Due: prettier --write, eslint --fix

ref: Feb 25, 2023 12:34
  src/home/arrange.ts
  src/home/index.ts
Due: prettier --write, eslint --fix

ref: home hide
  src/home/hide.ts
  src/home/index.ts
Due: prettier --write, eslint --fix

add: home-url to consts
  src/consts.json
Due: prettier --write

update: to use `for of`
  src/options/index.ts
  src/options/models.ts
Due: prettier --write, eslint --fix

ref: Feb 25, 2023 21:33
  src/home/index.ts
  src/home/insert.ts
  src/home/scrape.ts
Due: prettier --write, eslint --fix

fix: format and etc.
  src/consts.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/insert.ts
  src/home/scrape.ts
  src/options/index.ts
Due: prettier --write, eslint --fix

add: comment
  src/home/index.ts
  src/options/index.ts
Due: prettier --write, eslint --fix

update: param e => event
  src/options/index.ts
Due: prettier --write, eslint --fix

fix: missing ?
  src/options/index.ts
Due: prettier --write, eslint --fix

add: fetch.ts
  src/fetch.ts
  src/home/scrape.ts
Due: prettier --write, eslint --fix

update: target es5 => es2015
  tsconfig.json
Due: prettier --write

add: dummy
  .gitignore
Due: none

update: tsconfig
  tsconfig.json
Due: prettier --write

ref: Feb 27, 2023 02:34
  public/common/home/index.html
  src/extension/htmlElement.ts
  src/hash.ts
  src/home/arrange.ts
  src/home/assignment.ts
  src/home/event.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/insert.ts
  src/home/scrape.ts
  src/module/Assignment.ts
  src/module/AssignmentViewer.ts
  src/options/event.ts
  src/options/index.ts
  src/options/models.json
Due: prettier --write, eslint --fix

ref: Feb 02, 2023 04:20
  config/webpack.common.js
  config/webpack.dev.js
  package-lock.json
  package.json
  public/common/home/index.html
  src/home/event.ts
  src/home/index.ts
  src/home/insert.ts
Due: prettier --write, eslint --fix

ref: Feb 28, 2023 13:10
  public/common/home/index.html
  src/common/arrange.ts
  src/common/hide.ts
  src/common/index.ts
  src/contents/index.ts
  src/home/assignment.ts
  src/home/event.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/move.ts
  src/module/AssignmentViewer.ts
  src/module/FetchDocument.ts
  src/module/const.ts
  src/module/storage.ts
  src/options/models.json
  src/options/models.ts
  src/sso/index.ts
Due: prettier --write, eslint --fix

add: lint rules
  .eslintrc
  package-lock.json
  package.json
  public/common/home/index.html
  src/extension/htmlElement.ts
  src/home/event.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/insert.ts
  src/home/move.ts
  src/options/event.ts
  src/options/index.ts
  src/options/insert.ts
  src/options/models.ts
  src/options/models.type.ts
  src/style.scss
Due: prettier --write, eslint --fix

add: actions for navigation
  public/common/home/index.html
  src/home/event.ts
  src/home/index.ts
Due: prettier --write, eslint --fix

ref: Mar 2, 2023 02:54
  .eslintrc
  config/webpack.common.js
  public/common/contents/index.html
  public/common/home/index.html
  public/common/img/contents/image-chrome.png
  public/common/img/contents/image-edge.png
  src/attachment/index.ts
  src/consts.json
  src/consts.ts
  src/contents/download.ts
  src/contents/download.type.ts
  src/contents/event.ts
  src/contents/history.ts
  src/contents/index.ts
  src/contents/insert.ts
  src/contents/notify.ts
  src/contents/scrape.json
  src/contents/scrape.ts
  src/contents/scrape.type.ts
  src/extension/htmlElement.ts
  src/fetch.ts
  src/hash.ts
  src/home/arrange.ts
  src/home/event.ts
  src/home/hide.ts
  src/home/index.ts
  src/home/insert.ts
  src/home/move.ts
  src/home/scrape.ts
  src/module/DownloadFile.ts
  src/module/FetchDocument.ts
  src/module/type.ts
  src/options/event.ts
  src/options/index.ts
  src/options/insert.ts
  src/options/models.json
  src/options/models.ts
  src/options/models.type.ts
  src/popup/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

add: vscode
  .gitignore
Due: none

delete: comment
  src/popup/index.ts
Due: prettier --write, eslint --fix

update: hint
  src/options/models.json
Due: prettier --write

ref: timeout
  public/common/options/index.html
  src/fetch.ts
  src/messages.json
  src/messages.ts
  src/options/event.ts
  src/options/models.json
  src/sso/index.ts
Due: prettier --write, eslint --fix

remove: console
  src/consts.ts
  src/contents/event.ts
  src/contents/insert.ts
  src/home/arrange.ts
  src/home/hide.ts
  src/home/insert.ts
  src/options/event.ts
  src/options/models.ts
Due: prettier --write, eslint --fix

update: local => session
  src/messages.ts
Due: prettier --write, eslint --fix

add: direct transition
  public/common/home/index.html
  public/common/manifest.json
  src/common/arrange.ts
  src/common/hide.ts
  src/common/index.ts
  src/extension/htmlElement.ts
  src/hide.ts
  src/home/hide.ts
  src/home/index.ts
  src/options/models.json
Due: prettier --write, eslint --fix

add: comments
  src/home/arrange.ts
Due: prettier --write, eslint --fix

rename: arrange => replace
  src/common/index.ts
  src/common/replace.ts
Due: prettier --write, eslint --fix

add: to replace star and status
  config/webpack.common.js
  package.json
  public/common/manifest.json
  src/attachment/style.scss
  src/base.scss
  src/common/style.scss
  src/contents/style.scss
  src/home/img/star.png
  src/home/index.ts
  src/home/insert.ts
  src/home/replace.ts
  src/home/style.scss
  src/options/style.scss
  src/popup/style.scss
  src/sso/style.scss
Due: prettier --write, eslint --fix
